:root{
  background-image: url(/images/backg_menu.jpg); 
  background-size: 100% 105%;
  background-position-y: -30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
body img{
  float: none;
}
div{
  position: absolute;
  top: 365px;
}
a {
  text-decoration: none;
}
.first_dish {
  width: 220px;
  height: 270px;
}

.second_dish {
  width: 220px;
  height: 270px;
}
.third_dish {
  width: 220px;
  height: 270px;
}
li {
  text-decoration: underline;
  padding-bottom: 10px;
  color: whitesmoke;
}
